<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sevendailymovies.android.sevendailymovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".activity.MovieInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme2" />

        <service
            android:name=".CheckForNewDataService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".CheckForNewMoviesAdded"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".MyNotificationReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="MovieNotification" />
            </intent-filter>
        </receiver>

    </application>

</manifest>